@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

:root {
  --index: calc(1vw + 1vh);
  --text-color: #e7e7e0;
}

body {
  background-color: #010101;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  line-height: 1.55;
}

.header {
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background: url(../img/ground.png) center/cover no-repeat;
  bottom: calc(var(--index) * -4.5);
}

.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.layers__base {
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  z-index: 0;
}

.layers__middle {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
  z-index: 3;
}

.layers__front {
  transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
  z-index: 5;
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  will-change: transform;
}

.layer__header {
  color: var(--text-color);
  z-index: 2;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  will-change: transform;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0 0 15px #9e7d35;
}

.layer__caption {
  font-size: calc(var(--index) / 1.175);
  letter-spacing: calc(var(--index) / 3.5);
  margin-top: calc(var(--index) * -0.75);
}

.layer__title {
  font-size: calc(var(--index) * 2.5);
  letter-spacing: calc(var(--index) / 2.25);
}

.main-article {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main-article__title {
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 7.5);
  transform: translate3d(0, calc(var(--scrollTop) / -10), 0);
  will-change: transform;
  font-weight: 900;
}

.main-article__text {
  font-size: calc(var(--index) * 0.9);
  letter-spacing: calc(var(--index) / 7.5);
  max-width: calc(var(--index) * 30);
  margin-top: calc(var(--index) / 1.25);
  transform: translate3d(0, calc(var(--scrollTop) / -10), 0);
  will-change: transform;
}